@media screen and (max-width: 600px) {
  #menu-section .menu-icon-container .menu-icons.active {
    color: #FFCB05;
  }
  #slider {
    padding: 0;
  }
  #slider .slider-container {
    width: 100vw;
  }
  #carousel .carousel-inner .carousel-item {
    padding: 0;
  }
  #carousel .carousel-inner .carousel-item .sliders {
    height: 500px;
    padding: 10px 30px;
    border-radius: 0;
  }
  #carousel .carousel-inner .carousel-item .sliders .col-12 p {
    font-weight: bold;
    line-height: 1rem;
    margin-top: 5%;
    font-size: 1.4rem;
  }
  #carousel .carousel-inner .carousel-item .sliders .col-12 h1 {
    font-size: 2.5rem;
    font-weight: bolder;
    position: relative;
  }
  #carousel .carousel-inner .carousel-item .sliders .col-12 img {
    width: 400px;
    top: 50%;
    right: -50px;
  }
  #carousel .carousel-inner .carousel-item .sliders .bubble-lg {
    width: 450px;
    height: 450px;
    position: absolute;
    top: -100px;
    right: -20%;
  }
  #carousel button {
    display: none;
  }
  #carousel .carousel-indicators {
    left: 25%;
    bottom: -20px;
  }
  #products > .container .product-list .product-items {
    display: none;
    height: 500px;
    padding: 20px 10px;
  }
  #products > .container .product-list .product-items img {
    margin-top: 20%;
    scale: 2;
  }
  #products > .container .product-list .product-items .contents h6 {
    font-size: 2rem;
    margin-top: 20%;
  }
  #products > .container .product-list .product-items .contents p {
    font-size: 1.2rem;
  }
  #products > .container .product-list .product-items.active {
    display: flex;
  }
  #about-us {
    padding: 0;
    background: url(/photos/about-img-2.png);
    background-position: center;
    background-size: cover;
  }
  #about-us .about-us-container {
    padding: 80px 20px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  #about-us .about-us-container .contents {
    padding: 10px 0 10px 20px;
    color: #fff;
  }
  #about-us .about-us-container .contents h6 {
    font-size: 1.2rem;
    color: #fff;
  }
  #about-us .about-us-container .contents p {
    font-size: 1rem;
    margin-bottom: 20px;
    color: #fff;
  }
  #about-us .about-us-container .contents button {
    font-size: 1.2rem;
  }
  #get-in-touch {
    width: 100vw;
    height: -moz-fit-content;
    height: fit-content;
  }
  #get-in-touch .row {
    padding: 60px 30px;
  }
  #get-in-touch .row .contents p {
    width: 100%;
  }
  #get-in-touch .row form {
    width: 100%;
    margin-top: 30px;
  }
  #info > .container > .row .col-12 h3 {
    font-size: 2rem;
  }
  #info > .container > .row .col-12 address {
    font-size: 1.2rem;
  }
  #info > .container > .row .col-12 h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px 0;
  }
  #info > .container > .row .col-12 a {
    font-size: 1.2rem;
  }
  #info > .container > .row .col-12 a > img {
    width: 45px;
    height: 45px;
  }
  #list-lg > .list-container .list-items button {
    border: 0;
    outline: none;
    color: #666;
    padding: 10px;
  }
  #list-lg > .list-container hr {
    width: 1px;
    height: 20px;
    background-color: #000;
  }
  #list-lg > .list-container .list-items button:hover {
    transition: 0.55s;
  }
}
@media only screen and (min-width: 769px) {
  #menu-section .menu-icon-container .menu-icons {
    margin: 0 25px;
    padding: 0 20px;
  }
}/*# sourceMappingURL=responsive.css.map */