// For Mobiles and Smaller Devices
@media screen and (max-width: 600px) {
    
    // Menu Items
    #menu-section .menu-icon-container  .menu-icons.active {
        color: #FFCB05;
    }

    #slider{
        padding: 0;

        .slider-container {
            width: 100vw;
        }
    } 

    #carousel {
    
        .carousel-inner {
    
            .carousel-item {
                padding: 0;
    
                .sliders {
                    height: 500px;
                    padding: 10px 30px;
                    border-radius: 0;
                    
                    .col-12 {
                        p {
                            font-weight: bold;
                            line-height: 1rem;
                            margin-top: 5%;
                            font-size: 1.4rem;
                        }
                        h1 {
                            font-size: 2.5rem;
                            font-weight: bolder;
                            position: relative;
                        }
                        img {
                            width: 400px;
                            top: 50%;
                            right: -50px;
                        }
                    }
                    
                    .bubble-lg {
                        width: 450px;
                        height: 450px;
            
                        position: absolute;
                        top: -100px;
                        right: -20%;
                    }
                }
            }
        }
    
        button {
            display: none;
        }
    
        .carousel-indicators {
            left: 25%;
            bottom: -20px;
        }
    }

    
    #products > .container {
        .product-list {
    
            .product-items {
                display: none;
                height: 500px;
                padding: 20px 10px;
    
                img {
                    margin-top: 20%;
                    scale: 2;
                }
    
                .contents {
    
                    h6 {
                        font-size: 2rem;
                        margin-top: 20%;
                    }
                    p {
                        font-size: 1.2rem;
                    }
                }
            }
            .product-items.active {
                display: flex;
            }
        }
    
    }

    #about-us {
        padding: 0;
        background: url(/photos/about-img-2.png);
        background-position: center;
        background-size: cover;
        
        .about-us-container {
            padding: 80px 20px;
            background-color: rgba(0, 0, 0, .4);

            .contents {
                padding: 10px 0 10px 20px;
                color: #fff;

                h6 {
                    font-size: 1.2rem;
                    color: #fff;
                }
                p {
                    font-size: 1rem;
                    margin-bottom: 20px;
                    color: #fff;
                }
                button {
                    font-size: 1.2rem;
                }
            }
        }
    }

    #get-in-touch {
        width: 100vw;
        height: fit-content;
    
        .row {
            padding: 60px 30px;

            .contents {
                p {
                    width: 100%;
                }
            }
            form {
                width: 100%;
                margin-top: 30px;
            }
        }
    }

    #info > .container > .row {

        .col-12 {
         h3 {
            font-size: 2rem;
         }
         address {
             font-size: 1.2rem;
         }
     
         h5 {
             font-size: 1.2rem;
             font-weight: bold;
             margin: 20px 0;
         }
         a {
             font-size: 1.2rem;
         }
     
         a > img {
             width: 45px;
             height: 45px;
         }
        }
        
     
     }

     #list-lg > .list-container {

    .list-items button {
        border: 0;
        outline: none;
        color: #666;
        padding: 10px;
    }
    hr {
        width: 1px;
        height: 20px;
        background-color: #000;
    }

    .list-items button:hover {
        transition: .55s;
    }
}
     

}

// For Laptops and Larger Devices 
@media only screen and (min-width: 769px) {

    // Menu items
    #menu-section .menu-icon-container  .menu-icons {
        margin: 0 25px;
        padding: 0 20px;
    }

}

